<a href="https://colab.research.google.com/github/gurusaran1205/Codesincollab/blob/main/Practice_DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:

import pandas as pd

data = {
    'reg_no' : [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15],
    'Name': ['Guru','Alice', 'Bob', 'Charlie','Ava Martinez','James Rodriguez','Sophia Wilson','Benjamin Davis','Isabella Miller','Lucas Taylor','Mia Anderson','Alexander Thomas','Charlotte Hernandez','Ethan Moore','Michael Brown'],
    'Gender':['M','M','M','M','F','M','F','M','M','M','F','M','F','M','M',],
    'Semester':[4,4,4,4,4,4,4,4,4,4,4,4,4,4,4],
    'StudyHours':[14,15,13,18,24,35,23,32,45,12,19,10,26,29,39],
    'CodingCompetion':[1,2,3,1,4,9,10,11,14,5,15,12,23,30,0],
    'Intern':[1,1,0,1,1,0,0,1,0,0,1,1,0,1,0],
    'S1':[70,80,60,90,70,67,78,68,69,60,64,29,93,26,88],
    'S2':[73,82,100,99,87,97,68,80,89,76,66,59,69,86,48],
    'S3':[57,58,66,89,77,47,88,98,49,76,90,9,92,67,80],
    'CGPA':[7.88,7.56,6.79,9.17,7.48,7.3,8.1,8.6,9.2,6.56,6.8,9.2,9.7,6.2,8.9]
    }
df = pd.DataFrame(data)
df

,reg_no,Name,Gender,Semester,StudyHours,CodingCompetion,Intern,S1,S2,S3,CGPA
0,1,Guru,M,4,14,1,1,70,73,57,7.88
1,2,Alice,M,4,15,2,1,80,82,58,7.56
2,3,Bob,M,4,13,3,0,60,100,66,6.79
3,4,Charlie,M,4,18,1,1,90,99,89,9.17
4,5,Ava Martinez,F,4,24,4,1,70,87,77,7.48
5,6,James Rodriguez,M,4,35,9,0,67,97,47,7.30
6,7,Sophia Wilson,F,4,23,10,0,78,68,88,8.10
7,8,Benjamin Davis,M,4,32,11,1,68,80,98,8.60
8,9,Isabella Miller,M,4,45,14,0,69,89,49,9.20
9,10,Lucas Taylor,M,4,12,5,0,60,76,76,6.56
10,11,Mia Anderson,F,4,19,15,1,64,66,90,6.80
11,12,Alexander Thomas,M,4,10,12,1,29,59,9,9.20
12,13,Charlotte Hernandez,F,4,26,23,0,93,69,92,9.70
13,14,Ethan Moore,M,4,29,30,1,26,86,67,6.20
14,15,Michael Brown,M,4,39,0,0,88,48,80,8.90

In [16]:
first_row = df.iloc[:1]
last_two_rows = df.iloc[-2:]
print(first_row)
print(last_two_rows)

   reg_no  Name Gender  Semester  StudyHours  CodingCompetion  Intern  S1  S2  \
0       1  Guru      M         4          14                1       1  70  73

   S3  CGPA
0  57  7.88
    reg_no           Name Gender  Semester  StudyHours  CodingCompetion  \
13      14    Ethan Moore      M         4          29               30
14      15  Michael Brown      M         4          39                0

    Intern  S1  S2  S3  CGPA
13       1  26  86  67   6.2
14       0  88  48  80   8.9

In [32]:
five_rows_and_columns = df.iloc[[0,1,2,3,4,10,11,12,13,14],]
print(five_rows_and_columns)

    reg_no                 Name Gender  Semester  StudyHours  CodingCompetion  \
0        1                 Guru      M         4          14                1
1        2                Alice      M         4          15                2
2        3                  Bob      M         4          13                3
3        4              Charlie      M         4          18                1
4        5         Ava Martinez      F         4          24                4
10      11         Mia Anderson      F         4          19               15
11      12     Alexander Thomas      M         4          10               12
12      13  Charlotte Hernandez      F         4          26               23
13      14          Ethan Moore      M         4          29               30
14      15        Michael Brown      M         4          39                0

    Intern  S1   S2  S3  CGPA
0        1  70   73  57  7.88
1        1  80   82  58  7.56
2        0  60  100  66  6.79
3        1  90   99  89  9.17
4        1  70   87  77  7.48
10       1  64   66  90  6.80
11       1  29   59   9  9.20
12       0  93   69  92  9.70
13       1  26   86  67  6.20
14       0  88   48  80  8.90

In [21]:
rows_and_columns = df.iloc[[0,3,7,9],[0,1,3,10]]
print(rows_and_columns)

   reg_no            Name  Semester  CGPA
0       1            Guru         4  7.88
3       4         Charlie         4  9.17
7       8  Benjamin Davis         4  8.60
9      10    Lucas Taylor         4  6.56

In [26]:
first = df.iloc[[0,-1]]
print(first)

    reg_no           Name Gender  Semester  StudyHours  CodingCompetion  \
0        1           Guru      M         4          14                1
14      15  Michael Brown      M         4          39                0

    Intern  S1  S2  S3  CGPA
0        1  70  73  57  7.88
14       0  88  48  80  8.90

In [43]:
info = df.loc[df['Name'] == 'Guru', ['reg_no','Name','Semester','CGPA']]
print(info)

   reg_no  Name  Semester  CGPA
0       1  Guru         4  7.88

In [46]:
ex1 = df.loc[df['Name'] == 'Michael Brown','Semester':'CGPA']
print(ex1)

    Semester  StudyHours  CodingCompetion  Intern  S1  S2  S3  CGPA
14         4          39                0       0  88  48  80   8.9

In [53]:
ex2 = df.loc[(df['Name'] == 'Guru') & (df['CGPA'] == 7.88), ['reg_no','Name','CGPA',]]

print(ex2)

   reg_no  Name  CGPA
0       1  Guru  7.88

In [54]:
gen = df.loc[df['Gender'] == 'M',['reg_no','Name','CGPA']]
print(gen)

    reg_no              Name  CGPA
0        1              Guru  7.88
1        2             Alice  7.56
2        3               Bob  6.79
3        4           Charlie  9.17
5        6   James Rodriguez  7.30
7        8    Benjamin Davis  8.60
8        9   Isabella Miller  9.20
9       10      Lucas Taylor  6.56
11      12  Alexander Thomas  9.20
13      14       Ethan Moore  6.20
14      15     Michael Brown  8.90

In [57]:
fem = df.loc[(df['Gender'] == 'F')&(df['CGPA'] >= 8)]
print(fem)

    reg_no                 Name Gender  Semester  StudyHours  CodingCompetion  \
6        7        Sophia Wilson      F         4          23               10
12      13  Charlotte Hernandez      F         4          26               23

    Intern  S1  S2  S3  CGPA
6        0  78  68  88   8.1
12       0  93  69  92   9.7